<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  </head>
  <body>
    <header>
      <img class="image animated flipInX" src="/assets/city-4-2.gif" height="300px" width="100%" />
    </header>
    <ul>
      <li><%= link_to "Home", user_path(@user) %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Ideas</a>
        <div class="dropdown-content">
          <div class="dropdown">
              <div class="dropdown-content">
                <div><%= link_to "Create New Idea", new_user_idea_path(@user) %></div>
                  <div><%= link_to "All Ideas", user_ideas_path(@user) %></div>

              </div>
          </div>

        </div>
      </li>
    </ul>
    <% @ideas.each do |idea| %>
    <div class="card">
    
      <div class="container">
<h2><%= link_to idea.name, user_idea_path(@user, idea) %></h2>
<span class="button-wrap">
  <div class="button button-raised button-primary button-pill">
      <%= link_to "Edit", edit_user_idea_path(@user, idea), method: "get" %>
  </div>
</span>
<span class="button-wrap">
  <div class="button button-raised button-primary button-pill">
      <%= link_to "Delete",  user_idea_path(@user, idea), method: "delete" %>
  </div>
</span>

      </div>
    </div>
<% end %>

 </body>
</html>
