<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <header>
    <img class="image" src="/assets/water.gif" height="300px" width="100%" />
    </header>
    <ul>
      <li><%= link_to "Home", user_path(@user) %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Ideas</a>
        <div class="dropdown-content">
          <div class="dropdown">
              <div class="dropdown-content">
                <div><%= link_to "Create New Idea", new_user_idea_path(@user) %></div>
                  <div><%= link_to "All Ideas", user_ideas_path(@user) %></div>

              </div>
          </div>

        </div>
      </li>
    </ul>

<h1>Title:</h1><h3><%= @idea.name %></h3>
    <h1>Body:</h1><%= @idea.content %><br>

    <p><% @idea.images.each do |image| %></p>
    <%= image_tag(image.url, size: "150x150" ) %><br/>
    <% end %>
    <span class="button-wrap">
      <div class="button button-raised button-primary button-pill">
        <%= link_to "Delete",  user_idea_path(@user, @idea), method: "delete" %>
      </div>
    </span>
    <span class="button-wrap">
      <div class="button button-raised button-primary button-pill">
        <%= link_to "Edit", edit_user_idea_path(@user, @idea), method: "get" %>
      </div>
    </span>
  </div>
</div>
</body>
</html>
