
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  </head>
  <body>
    <header>
      <img class="image" src="/assets/city-4-2.gif" height="300px" width="100%" />
    </header>
    <ul>
      <li><%= link_to "Home", user_path(current_user) %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
     <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Ideas</a>
        <div class="dropdown-content">
          <div class="dropdown">
              <div class="dropdown-content">
                <div><%= link_to "Create New Idea", new_user_idea_path(current_user) %></div>
                  <div><%= link_to "All Ideas", user_ideas_path(current_user) %></div>
                </div>
          </div>
        </div>
      </li>
    </ul>
<div class="new-edit-box2">
  <h1>Edit Category Title</h1>
<%= form_for [:admin, @category] do |f| %>
    <%= f.text_field :title, placeholder: "New category name.*" %><br><br>
    <%= f.submit class: "sub-btn" %>
  </div>
    <% end %>
  </body>
  </html>
