<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  </head>
  <body>
    <header>
      <img class="image" src="/assets/city-4-2.gif" height="300px" width="100%" />
    </header>
    <ul>
      <li><%= link_to "Home", user_path(current_user) %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Ideas</a>
        <div class="dropdown-content">
          <div class="dropdown">
              <div class="dropdown-content">
                <div><%= link_to "Create New Idea", new_user_idea_path(current_user) %></div>
                  <div><%= link_to "All Ideas", user_ideas_path(current_user) %></div>

              </div>
          </div>

        </div>
      </li>
    </ul>

<% @categories.each do |category| %>
      <div class="card">

        <div class="container">
    <h2><%= category.title %></h2>
    <br>
    <span class="button-wrap">
      <div class="button button-raised button-primary button-pill">
        <%= link_to "Delete",   admin_category_path(category), method: "delete" %>
      </div>
    </span>
    <span class="button-wrap">
      <div class="button button-raised button-primary button-pill">
         <%= link_to "Edit", edit_admin_category_path(category) %>
      </div>
    </span>
  </div>
</div>
</div>
    <% end %>
  </body>
  </html>
