<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <img class="image" src="/assets/top.png" height="300px" width="100%" />
    </header>
    <ul>
      <li><%= link_to "Home", user_path(@user) %></li>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Ideas</a>
        <div class="dropdown-content">
          <div class="dropdown">
              <div class="dropdown-content">
                <div><%= link_to "Create New Idea", new_user_idea_path(@user) %></div>
                  <div><%= link_to "All Ideas", user_ideas_path(@user) %></div>

              </div>
          </div>

        </div>
      </li>
    </ul>

<%= form_for [:admin, @image] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "name for image*" %><br>
    <%= f.label :url %>
    <%= f.text_field :url, placeholder: "Image url*" %><br>
    <%= f.submit class: "sub-btn" %>
  </div>
  <% end %>
</body>
</html>
